@use '../../../../scss/abstract/' as *;

.min-animations
{
    width:100%;
    height: 10000px;
    background  : url('../../../../assets/kalai-port/animations.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
   
  
}