@use "../../../../../scss/abstract/" as *;

.image-persons {
    width: 100%;
    height: 650px;
    object-fit: cover;
    @include xsBreakPoint {
        width: 100%;
        height: 300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include smBreakPoint {
        width: 100%;
        height: 400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include mdBreakPoint {
        width: 100%;
        height: 400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.spn {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    @include xsBreakPoint {
        font-size: 0.789rem;
        width: 90%;
    }
    @include smBreakPoint {
        font-size: 0.789rem;
        width: 90%;
    }
    @include mdBreakPoint {
        font-size: 0.789rem;
        width: 90%;
    }
}
.text-some {
    font-size: 1.2rem;
    text-align: center;
    @include xsBreakPoint {
        font-size: 1rem;
    }
    @include smBreakPoint {
        font-size: 1.24rem;
    }
    @include mdBreakPoint {
        font-size: 1.3rem;
    }
}
.text-sizes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    color: orangered;
    @include xsBreakPoint {
        font-size: 1.7rem;
    }
    @include smBreakPoint {
        font-size: 1.9rem;
    }
    @include mdBreakPoint {
        font-size: 2.2rem;
    }
}

.btns {
    width: 20%;
    margin: 0 auto;
    @include xsBreakPoint {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include smBreakPoint {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include mdBreakPoint {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include lgBreakPoint {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btnss {
        background-color: orange;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 700;
    }
}
